<h1>Tareas#index</h1>
<p>Find me in app/views/tareas/index.html.erb</p>



<div class="container">
	<% @tareas.each do |tareas| %>
	<%= tareas.name %>
	<%= image_tag tareas.photo %>
	<% end %>
</div>
